In [3]:
import pandas as pd 
import json

In [32]:
with open("logs/dqn_log.json", "r") as f:
    json_data = json.load(f)
print(len(json_data["episode"]))
taille= len(json_data["loss"])
# Converting JSON data to a pandas DataFrame
#metrics = pd.read_json(json_data)
#metrics= pd.json_normalize(json_data)
#metrics

112

In [39]:
import csv
with open('logs/dqn_log.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Episode","Loss", "mse", "episode_reward"])
    for i in range(taille):
        writer.writerow([json_data["episode"][i],json_data["loss"][i],json_data["mse"][i],json_data["episode_reward"][i]])

In [40]:
logs = pd.read_csv("logs/dqn_log.csv")
logs.head()

   Episode        Loss           mse  episode_reward
0        0  173.085984  1.687888e+05   108389.587127
1        0  699.574985  5.743420e+06    15664.641457
2        1  141.899139  1.194149e+06   133952.222640
3        1  908.353638  5.739380e+06    10610.245588
4        2  263.433838  2.646016e+06   125657.097358

In [43]:
logs[["episode_reward"]].describe()

       episode_reward
count      112.000000
mean     22344.733112
std      33804.850158
min        518.462500
25%      11123.375675
50%      12094.121673
75%      13730.558856
max     140227.012066

In [87]:
with open("ttc_log.txt", "r") as f:
    json_data = json.load(f)

# Converting JSON data to a pandas DataFrame
#metrics = pd.read_json(json_data)
df = pd.json_normalize(json_data)

In [88]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,491,492,493,494,495,496,497,498,499,500
0,0,0,0,0,0,0,0,0,0,0,...,10.847,10.5685,10.492,10.42925,10.485526,10.485526,10.482368,10.540811,10.540811,10.626111

In [89]:
transposed_df = df.transpose()
transposed_df.head()
#transposed_df['TTC'].shift(-1)
transposed_df[0].describe()

count    500.000000
mean      16.206061
std        6.828361
min        0.000000
25%       12.663799
50%       15.610909
75%       18.506658
max       72.852941
Name: 0, dtype: float64

In [90]:
data = pd.read_csv("ttc_log_novsl1.csv")
data.head()
data["7.79"].describe()

count    6979.000000
mean       33.232955
std        16.829574
min         7.790000
25%        22.393810
50%        28.201500
75%        39.005652
max       140.633333
Name: 7.79, dtype: float64